<p id="notice"><%= notice %></p>

<p>
  <strong>Nama golongan:</strong>
  <%= @golongan.nama_golongan %>
</p>

<%= link_to 'Edit', edit_golongan_path(@golongan) %> |
<%= link_to 'Back', golongans_path %>
