<p id="notice"><%= notice %></p>

<p>
  <strong>Nama departemen:</strong>
  <%= @department.nama_departemen %>
</p>

<%= link_to 'Edit', edit_department_path(@department) %> |
<%= link_to 'Back', departments_path %>
